@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800;900&family=Prompt:wght@500;600;700;800;900&family=Roboto&family=Tilt+Warp&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: poppins;
  background-color: #E86A33;
  color: #fff;
}

/* header */
.logo{
  font-size: 40px!important;
}

.links li, 
.links a,
.logo {
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

#social-links  a{
  font-size: 30px;
}

#navbar, #social-links {
  display: flex;
  align-items: center;
}

#navbar ul, 
#social-links ul{
  display: flex;
} 

#navbar li,
#social-links li{
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px;
  position: sticky;
}

#navbar a:hover{
  border-bottom: 2px solid #fff;
  transition: .2s;
}

/* Home */
.home{
  margin-left: 150px;
  margin-top: 110px;
}

.desc{
  max-width: 600px;
}

.desc h3{
  font-size: 60px;
}

.desc h1{
  font-size: 90px;
}

.desc h1>span{
  color: #000;
}

.button-desc{
  margin-top: 30px;
  text-align: center;
}

.button-desc button{
  width: 113px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 5px 5px 5px #00000063;
}

.button-desc button:hover{
  background-color: #E86A33;
  color: #fff;
  border: 1px solid #fff;
  transition: .5s;
}

.button-desc button:nth-child(1){
  width: 150px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.home {
  flex: 1;
}

.home2 {
  flex: 1;
}

.home2{
  margin-top: 110px;
  margin-left: 150px;
}

.circle{
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 255px;
  text-align: center;
}